.idea
.git
.github
build/dev/cert
build/dev/example.env
build/prod/manifest-template.yaml
manifest.yaml
src/log
src/temp
src/vendor
src/node_modules
src/app/Config/secrets.neon
src/app/Config/secrets.prod.neon
src/app/Config/secrets.env.neon
!src/.env.*
upload
.gitignore
.dockerignore
Dockerfile
LICENSE
compose.yaml
makefile
README.MD

# Dev only files
src/.env.dev
src/.editorconfig
src/phpstan.dist.neon
src/phpstan.neon.dist
src/phpunit.dist.xml
src/phpunit.xml.dist
src/rector.php
src/phpcs.xml.dist

# Tests - not needed in production
src/tests
