.idea
.git
.github
build/dev/example.env
src/log
src/temp
src/vendor
src/node_modules
src/app/Config/secrets.neon
src/app/Config/secrets.prod.neon
src/app/Config/secrets.env.neon
src/.env
src/.env.*
!src/.env.example
upload
.gitignore
.dockerignore
Dockerfile
LICENSE
compose.yaml
compose.test.yaml
makefile
README.MD

# Dev / QA only
src/.env.dev
src/.editorconfig
src/phpstan.dist.neon
src/phpstan.neon.dist
src/phpunit.dist.xml
src/phpunit.xml.dist
src/rector.php
src/phpcs.xml.dist
src/tests
*.log
