<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>OAZA</title>
</head>
<body>
<h1 style="color: #00bcd4">  <img src="https://oazahb.cz/images/logo.png">OAZA</h1>
<br>

<p>
Dobrý den,<br><br>
Vaše rezervace byla úspěšně zrušena.

<br><br><br>
<hr>
 <strong style="color: #00bcd4">Solná jeskyně OÁZA</strong><br>
    Marie Roztočilová<br>
    Chotěbořská 2943<br>
    580 01 Havlíčkův Brod<br>
    IČ: 75869896<br><br>

    E-mail: info@oazahb.cz<br>
    Telefon: 727 813 359
</p>
</body>
</html>