<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>OAZA</title>
</head>
<body>
<h1 style="color: #00bcd4">  <img src="https://oazahb.cz/images/logo.png">OAZA</h1>
<br>

<p>
Dobrý den,<br><br>
Děkujeme Vám za rezervaci. Těšíme se na Vaši návštěvu a doufáme, že se Vám u nás bude líbit.
<br><br>
<h3>Detail rezervace:</h3>
<strong>Datum: </strong>{$date|date: "j.n.Y H:i"} <br>
<strong>Jméno a Příjmení: </strong>{$name} <br>
<strong>Počet míst: </strong>{$count} <br>
<strong>Děti: </strong>{if $child == 1}Ano {else} Ne {/if}<br>
{if $comment}
<strong>Komentář: </strong>{$comment} <br>
{/if}

<br><br><br>
<hr>
 <strong style="color: #00bcd4">Solná jeskyně OÁZA</strong><br>
    Marie Roztočilová<br>
    Chotěbořská 2943<br>
    580 01 Havlíčkův Brod<br>
    IČ: 75869896<br><br>

    E-mail: info@oazahb.cz<br>
    Telefon: 727 813 359
</p>


</body>
</html>