{block content}
<style>
    .content-wrapper{
        background-image: url("../../www/images/slider.jpg");
        background-size: cover;
        background-attachment: fixed;
        color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        position: relative;
        opacity: 0.2;
    }
</style>