{block content}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{_'oaza.pageHeaders.reservationOverview'}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="calendar"></div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<script>
    function confirmAction(id) {
        var myHandler = {plink cancelRezervation!};
        $.nette.ajax({
            url: myHandler,
            type: 'GET',
            data: {
                reservationId: id,
            },
        });

    }
    ;
            $('#calendar').fullCalendar({
                    locale: 'cs',
                    minTime: "08:00:00",
                    maxTime: "18:00:00",
                    slotMinutes: 30,
                    defaultView: 'basicWeek',
                    timeFormat: 'H:mm',
                    weekends: false,
                    allDaySlot: false,
                    header: {
                        left: '',
                        center: 'title',
                        right: 'prev,next today'
                    },
                    editable: false,
                    events: {$data},
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#modalReservation').modal('toggle');
                        document.getElementById('userName').innerHTML = calEvent.userName;
                        document.getElementById('totalCount').innerHTML = calEvent.totalCount;
                        document.getElementById('telephone').innerHTML = calEvent.telephone;
                        document.getElementById('email').innerHTML = calEvent.email;
                        document.getElementById('detailId').innerHTML = "Detail: " + calEvent.id;
                        document.getElementById('rezervationDate').innerHTML = calEvent.rezervationDate;
                        document.getElementById('child').innerHTML = calEvent.child;
                        document.getElementById('comment').innerHTML = calEvent.comment;
                        var cancelButton = document.getElementById('cancelReservation');
                        cancelButton.setAttribute('onclick', 'confirmAction(' + calEvent.id + ')');
                    }
                    ,
                    buttonText: {
                        today: 'Dnes'
                    }
                    ,
                    weekMode: "variable",
                }
            );
</script>