{block content}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{_'oaza.pageHeaders.users'}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
{*                {control userGrid}*}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>