{block pageTitle}Omezení provozu{/block}

{block content}
<div class="admin-page-header">
    <div>
        <h1>Omezení provozu</h1>
        <p>Blokování termínů a správa uzavírek</p>
    </div>
    <a n:href="Restrictions:Create" class="btn-admin-create">
        <i class="fa-regular fa-calendar-xmark"></i> Vytvořit omezení
    </a>
</div>
{control grid}
{/block}
