{block pageTitle}Upravit omezení provozu{/block}

{block content}
<div class="admin-page-header">
    <h1>Upravit omezení provozu</h1>
</div>
<div class="admin-form-wrapper">
    <div class="admin-card">
        <div class="admin-card-body">
            {control editForm}
        </div>
    </div>
</div>
{/block}
