{form form}
    {label from /}
    {if !$user->isLoggedIn()}
    <span style="color: red;"> *</span>
    {/if}

    {input from}<br>
    {label message /}<span style="color: red;"> *</span> {input message}<br>
    {input sent}
{/form}