{form form}
    {label from /}
    {if !$user->isLoggedIn()}
    <span style="color: red;"> *</span>
    {/if}

    {input from}<br>
    {label message /}<span style="color: red;"> *</span> {input message}<br>
    <div class="form-group">
        <div n:name="recaptcha"></div>
    </div>
    {input sent}
{/form}