{form form}
    <div class="form-group">
        {label from /}
        {if !$user->isLoggedIn()}
        <span class="required-mark"> *</span>
        {/if}
        {input from, class: 'form-control'}
    </div>
    <div class="form-group">
        {label message /}<span class="required-mark"> *</span>
        {input message, class: 'form-control'}
    </div>
    <div class="form-group">
        {input sent, class: 'btn btn-info'}
    </div>
{/form}
