<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oaza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Oaza"/>
    <meta name="keywords" content="Solná jeskyně "/>
    <meta name="author" content="Robert Durica"/>

    {*CSS*}
    <link rel="shortcut icon" href="{$basePath}/images/palm.png">
    <link rel="stylesheet" href="{$basePath}/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/bower/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="{$basePath}/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/slider.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/owl.theme.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/main.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/responsive.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/bower/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/style.css">
    <link rel="stylesheet" href="{$basePath}/bower/admin-lte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="{$basePath}/bower/admin-lte/dist/css/skins/skin-black-light.css">
    <link rel="stylesheet" href="{$basePath}/bower/ublaboo-datagrid/assets/dist/datagrid.css">
    <link rel="stylesheet" href="{$basePath}/bower/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <link rel="stylesheet" href="{$basePath}/bower/lightbox2/dist/css/lightbox.min.css">
    <link rel="shortcut icon" href="{$basePath}/images/palm.png">
</head>


<body class="nav-md">
{foreach $flashes as $flash}
    <script>
        notifyMessage({$flash->message}, {$flash->type});
    </script>
{/foreach}
{include './Layout/modals.latte'}
<div class="skin-black-light">
    {include './navbar.latte'}

    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        {include content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{block scripts}
    <script src="{$basePath}/bower/jquery/dist/jquery.min.js"></script>
    <script src="{$basePath}/bower/jquery-ui/jquery-ui.min.js"></script>
    <script src="{$basePath}/bower/moment/moment.js"></script>
    <script src="{$basePath}/bower/moment/locale/cs.js"></script>
    <script src="{$basePath}/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{$basePath}/bower/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="{$basePath}/assets/js/ajax-init.js"></script>
    <script src="{$basePath}/bower/nette.ajax.js/nette.ajax.js"></script>
    <script src="{$basePath}/bower/nette-forms/src/assets/netteForms.min.js"></script>
    <script src="{$basePath}/assets/js/oaza.js"></script>
    <script src="{$basePath}/bower/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="{$basePath}/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="{$basePath}/assets/js/owl.carousel.min.js"></script>
    <script src="{$basePath}/assets/js/wow.min.js"></script>
    <script src="{$basePath}/assets/js/slider.js"></script>
    <script src="{$basePath}/assets/js/jquery.fancybox.js"></script>
    <script src="{$basePath}/assets/js/main.js"></script>
    <script src="{$basePath}/bower/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="{$basePath}/bower/admin-lte/dist/js/adminlte.js"></script>
    <script src="{$basePath}/bower/ublaboo-datagrid/assets/dist/datagrid.js"></script>
    <script src="{$basePath}/bower/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
    <script src="{$basePath}/bower/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
{/block}
</body>
</html>