{extends '@layout.latte'}

{block content}
    <h4>Dobrý den,</h4>
    <p>obdrželi jste nový dotaz od uživatele <strong>{$from}</strong>:</p>

    <div class="details">
        {$message|noescape}
    </div>

    <p>
        Odpovězte prosím co nejdříve, pokud dotaz vyžaduje reakci.
    </p>
{/block}