{extends '@layout.latte'}
{block content}
    <h4>Dobrý den,</h4>
    <p>na základě Vašeho požadavku jsme Vám vygenerovali nové dočasné heslo:</p>

    <div class="details">
        <strong>{$password}</strong>
    </div>
    <p>
        Po přihlášení doporučujeme co nejdříve heslo změnit v nastavení Vašeho účtu,
        abyste si zajistili plný přístup a bezpečnost.
    </p>
{/block}