{extends '@layout.latte'}
{block content}
    <h4>Dobrý den,</h4>
    <p>heslo k Vašemu účtu bylo <strong>úspěšně změněno</strong>.</p>
    <p>Pokud jste tuto změnu neprovedli Vy, doporučujeme ihned kontaktovat naši podporu.</p>
    <p>V případě dotazů jsme Vám k dispozici na <a href="mailto:info@oazahb.cz">info@oazahb.cz</a>.</p>
{/block}