{extends '@layout.latte'}
{block content}
    <h4>Dobrý den,</h4>
    <p>vaše rezervace byla <strong>úspěšně zrušena</strong>.</p>
    <p>Pokud došlo ke zrušení omylem, nebo byste chtěli vytvořit novou rezervaci, neváhejte nás kontaktovat.</p>
    <p>Děkujeme a přejeme hezký den.</p>
{/block}