{extends '@layout.latte'}
{block content}
    <h4>Dobrý den,</h4>
    <p>Vaše rezervace byla administrátorem zrušena.</p>

    <div class="details">
        <h3>Informace o rezervaci:</h3>
        <strong>Termín:</strong> {$date}<br>
        <strong>Počet osob:</strong> {$count}
    </div>

    <p>V případě dotazů nás neváhejte kontaktovat.</p>
{/block}
