{form form}
    {label email /}<span style="color: red;"> *</span> {input email, class:"form-control"}<br>
    {label password /}<span style="color: red;"> *</span> {input password, class:"form-control"}<br>
    {input send}
{/form}