{block pageTitle}Historie rezervací{/block}

{block content}
<div class="admin-page-header">
    <h1>Rezervace</h1>
    <p>Historie minulých rezervací</p>
</div>
<div class="admin-tabs">
    <a n:href="Reservations:" class="admin-tab">Nadcházející</a>
    <a n:href="Reservations:history" class="admin-tab is-active">Historie</a>
</div>
{control grid}
{/block}
