{block content}
{include "../Layout/page_header.latte", title:"messages.navbar.changePassword"}
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="min-height: 45vh;">
                    {control changePasswordForm}
                </div>
            </div>
        </div>
    </div>
</div>