{form form}
    {label name /}<span style="color: red;"> *</span> {input name, class:"form-control"} <br>
    {label email /}<span style="color: red;"> *</span> {input email, class:"form-control"} <br>
    {label telephone /} {input telephone, class:"form-control"} <br>
    {label password /}<span style="color: red;"> *</span> {input password, class:"form-control"} <br>
    {label passwordVerify /}<span style="color: red;"> *</span> {input passwordVerify, class:"form-control"} <br>
    {label licence /}<span style="color: red;"> *</span> {input licence} Souhlasím s <a href="{plink Licence:}" target="_blank">podmínkami užití</a> <br><br>
    {input save, class:"btn btn-info"}
{/form}