<div class="wow animate__animated animate__fadeInUp col-md-3">
    <figure>
        <div class="element">
            <span class="symbol">{$symbol}</span>
            <span class="number">{$number}</span>
            <span class="name">{$name}</span>
        </div>
        <figcaption>{$text}</figcaption>
    </figure>
</div>