{block pageTitle}Novinky{/block}

{block content}
<div class="admin-page-header">
    <div>
        <h1>Novinky</h1>
        <p>Správa novinek zobrazovaných na webu</p>
    </div>
    <a n:href="News:Create" class="btn-admin-create">
        <i class="fa-solid fa-plus"></i> Vytvořit novinku
    </a>
</div>
{control grid}
{/block}
