php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\Presenter\*Presenter
		Admin: App\Modules\Admin\Presenter\*Presenter

session:
	autoStart: always
	expiration: 14 days

extensions:
	translation: Contributte\Translation\DI\TranslationExtension

translation:
	locales:
		default: cs
	dirs:
		- %appDir%/Translations

includes:
	- services.neon