php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\Presenter\*Presenter
		Admin: App\Modules\Admin\Presenter\*Presenter

session:
	autoStart: always
	expiration: 14 days

extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	sentry: Contributte\Sentry\DI\SentryExtension

translation:
	locales:
		default: cs
	dirs:
		- %appDir%/Translations

sentry:
	enable: %enableSentry%
	client:
		dsn: %env.SENTRY_DNS%
		prefixes: [%appDir%]
	integrations: true
	logger:
		captureMessages: true
		captureLevels:
			- warning
			- error
			- exception
			- critical
includes:
	- services.neon