parameters:
    debugMode: true

    dbDsn: "mysql:host=mariadb;dbname=oaza"
    dbUser: "root"
    dbPassword: "password"

    sentryDsn: ""

    emailHost: "mailpit"
    emailAdmin: "admin@robbyte.net"
    emailAdminPassword: "password"
    emailPort: "1025"
    emailEncryption: ""
    emailFrom: "no-reply@robbyte.net"
    emailContact: "admin@robbyte.net"

    turnstileSiteKey: "1x00000000000000000000AA"
    turnstileSecretKey: "1x0000000000000000000000000000000AA"
