parameters:
    dbDsn: %env.DB_DNS%
    dbUser: %env.DB_USERNAME%
    dbPassword: %env.DB_PASSWORD%

    sentryDsn: %env.SENTRY_DNS%

    emailHost: %env.EMAIL_HOST%
    emailAdmin: %env.EMAIL_ADMIN%
    emailAdminPassword: %env.EMAIL_ADMIN_PASSWORD%
    emailPort: %env.EMAIL_PORT%
    emailEncryption: %env.EMAIL_ENCRYPTION%
    emailFrom: %env.EMAIL_FROM%
    emailContact: %env.EMAIL_CONTACT%

    turnstileSiteKey: %env.TURNSTILE_SITEKEY%
    turnstileSecretKey: %env.TURNSTILE_SECRET_KEY%
