parameters:
    debugMode: false

    dbDsn: "mysql:host=localhost;dbname=oaza"
    dbUser: "root"
    dbPassword: "CHANGE_ME"

    sentryDsn: ""

    emailHost: "smtp.example.com"
    emailAdmin: "admin@example.com"
    emailAdminPassword: "CHANGE_ME"
    emailPort: "587"
    emailEncryption: "tls"
    emailFrom: "no-reply@example.com"
    emailContact: "info@example.com"

    turnstileSiteKey: "CHANGE_ME"
    turnstileSecretKey: "CHANGE_ME"
