services:
  - App\Router\RouterFactory::createRouter

  # Services
  - App\Model\Service\Authentication\Authenticator
  - App\Model\Service\Authentication\PasswordService
  - App\Model\Service\CalendarServiceOld
  - App\Model\Service\Mail\MailService(%env.EMAIL_ADMIN%, %env.EMAIL_ADMIN_PASSWORD%)
  - App\Model\Service\ReservationServiceOld

  # Manager
  - App\Model\Manager\NewsManager
  - App\Model\Manager\ReservationManager
  - App\Model\Manager\RestrictionManager
  - App\Model\Manager\UserManager

  # Forms
  - App\Component\Form\Auth\ChangePassword\ChangePasswordFormFactory
  - App\Component\Form\Auth\Login\LoginFormFactory
  - App\Component\Form\Auth\Register\RegistrationFormFactory
  - App\Component\Form\Auth\ResetPassword\ResetPasswordFormFactory
  - App\Component\Form\ContactUs\ContactUsFormFactory
  - App\Component\Form\Reservation\ReservationFormFactory
  - App\Component\Form\News\NewsFormFactory
  - App\Component\Form\Restriction\RestrictionFormFactory

  # Grid
  - App\Component\Grid\News\NewsGridFactory
  - App\Component\Grid\Reservation\ReservationGridFactory
  - App\Component\Grid\Restriction\RestrictionGridFactory
  - App\Component\Grid\User\UserGridFactory