includes:
    - vendor/phpstan/phpstan-nette/extension.neon

parameters:
    level: 5
    paths:
        - app
        - www/index.php
    tmpDir: temp/phpstan
    bootstrapFiles:
        - vendor/autoload.php
    scanFiles:
        - vendor/jetbrains/phpstorm-stubs/meta/attributes/NoReturn.php
    excludePaths:
        - vendor
        - node_modules
    universalObjectCratesClasses:
        - Nette\Application\UI\Template
        - Nette\Database\Table\ActiveRow
        - Nette\Security\IIdentity
    ignoreErrors:
        -
            message: '#Method Contributte\\Datagrid\\Column\\ColumnDateTime::setFormat\(\) invoked with 2 parameters#'
            path: app/Component/Grid/Restriction/Restriction.php
