{block content}
    {include "../Layout/page_header.latte", title:"messages.navbar.myCalendar"}
    <div id="calendar" data-calendar-kind="user" data-cancel-url="{link cancelReservation!}" style="padding: 50px;"></div>
    <script id="user-calendar-events" type="application/json">{$calendarEvents|noescape}</script>
{/block}
