{form form}
    {label password /}<span style="color: red;"> *</span> {input password}<br>
    {label passwordVerify /}<span style="color: red;"> *</span> {input passwordVerify}<br>
    {input save}
{/form}